
	
@media screen and (min-width: 0px){
	*
	{
		margin: 0;
	}
	#title_section
	{
		background-image: url("/img/background.jpg");
		/*background-repeat: no-repeat;*/
   		/*background-size: cover;*/
   		padding-top: 2px;
	}
	#title_img
	{
		width: 96%;
		margin-top: 10px;
		border-top: 2px solid black;
	}

	#title_h1
	{
		text-align: center;
		font-family: arial;
		margin-top: 3%;

	}
	p
	{
		text-align: center;
		font-family: arial;
		margin-top: 5px;
	}
	

	img 
	{
		width: 60%;
		display: block;
		margin: auto;
		margin-top: 40px;
		border: 2px solid black;
	}

	iframe
	{
		margin: auto;
		/*align: center;*/
		width: 99%;
		height: 380px;
		margin-top: 30px;

	}	
    
}

@media screen and (min-width: 481px){
	*
	{
		margin: 0;
	}
	#title_section
	{
		background-image: url("/img/background.jpg");
	}

	#title_h1
	{
		text-align: center;
	}
	#title_img
	{
		width: 80%;
		
		border-top: 2px solid black;
	}
	p
	{
		text-align: center;
		font-family: arial;
		margin-top: 5px;
	}
	

	img 
	{
		display: block;
		margin: auto;
		margin-top: 30px;
		border: 2px solid black;
		width: 242px;
	}
	.inline_img
	{
		display: inline-block;
		vertical-align: top;
		margin: 3%;
	}

	iframe
	{
		/*display: block;*/
		margin: auto;
		width: 33%;
		margin-top: 30px;

	}

   
}

@media screen and (min-width: 1024px){
	*
	{
		margin: 0;
	}
	#title_section
	{
		background-image: url("/img/background.jpg");
	}

	#title_h1
	{
		text-align: center;
	}
	#title_img
	{
		width: 50%;
		
		border-top: 2px solid black;
	}
	p
	{
		text-align: center;
		font-family: arial;
		margin-top: 5px;
	}
	

	img 
	{
		display: block;
		margin: auto;
		margin-top: 30px;
		border: 2px solid black;
	}

	iframe
	{
		margin: auto;
		align: center;
		width: 33%;
		margin-top: 30px;

	}	
	#poster
	{
		margin-left: 20%;
	}

   
}

